/* css for side bar */

.sidenav {
    height: auto;
    width: auto;
    /* position: fixed; */
    top: 0;
    left: 0;
    background-color: white;
    /* overflow-x: hidden;
    transition: 0.5s; */
    padding: 2vh 0vw;
}

#main {
    transition: margin-left .5s;
    padding: 1px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#sideNavUserProfile{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    /* margin: 10px 0px; */
}

#sideNavMenu {
    margin: 30px;
}

#sideNavMenu h5 {
    margin-bottom: 30px;
}

#sideNavMenu a {
    padding: 0;
    text-decoration: none;
    color: black;
}

#btnLogout{
    background-color: white;
    color: black;
}

#btnLogout:hover{
    filter: invert(1);
}

#mySideNav2 {
    text-align: center;
    padding: 50px 0px;
}

#mySideNav2 h6{
    margin: 10px 0px;
}