#myBookDetail{
    width: 100vw;
    height: 100vh;
}

#myBookDetail .bookImageSmall {
    position: relative;
}

#myBookDetail .bookImageSmall div {
    position: absolute;
    right: 5vw;
    top: 20vh;
}

#myBookDetail .bookImageSmall img {
    border-radius: 15px;
}

#myBookDetail #header {
    width: 100%;
    height: 40vh;
    overflow: hidden;
}

#myBookDetail #header .headerImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#myBookDetail #header .btn {
    text-shadow: 2px 2px 8px #000000;
    position: fixed;
    top: 2vh;
    text-decoration: none;
    color: white;
}

#myBookDetail .detailContent{
    padding: 20px 5vw;
}

.detailContent .mybuttonYellow {
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal .mybuttonYellow {
    margin: 10px 0px;
}